
$principalColor:linear-gradient(90deg, rgba(119,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
$animacionColor: linear-gradient( 90deg, #a1081a, #000 40%);
$navfooColor:  #a1081a;
$colorsub1: #000;
$colorsub2: #9c323e;
$colortext: white;
 

$textLg: 5em;
$textMd: 3em;
$textSm: 2em;

$box-shadow: 3px 4px 6px rgb(255, 255, 255);
$border-radius: 5px;



